<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/head :: head"></div>

<body>
<script src="/js/question-add.js"></script>
<div th:replace="fragments/navigation :: nav"></div>

<div class="container mt-4">
    <div>
        <h1 th:if="${action} =='add'">Add Question</h1>
        <h1 th:if="${action} =='edit'">Edit Question</h1>
    </div>
    <form id="add-question" method="post" th:object="${question}" novalidate th:class="${isInvalid} ? 'was-validated' : ''">
        <div class="row mb-3" th:if="${action} == 'add'">
            <label th:for="*{quizId}" class="col-sm-2 col-form-label">Quiz</label>
            <input id="quiz-title" type="text" disabled th:value="${selectedQuizTitle}" class="col-sm-10">
            <input type="number" hidden th:name="quiz-id" th:id="quiz-id" th:value="${selectedQuizId}">
        </div>

        <div class="row mb-3" th:if="${action} == 'edit'">
            <label th:for="*{quizId}" class="col-sm-2 col-form-label">Quiz</label>
            <select name="quiz" class="form-select col-sm-10" th:field="*{quizId}">
                <option th:each="quiz:${quizzes}" th:value="${quiz.quizId}" th:text="${quiz.title}">
                </option>
            </select>
        </div>

        <div class="row mb-3">
            <label class="col-sm-2 col-form-label" th:for="*{questionNumber}">Question number</label>
            <input th:field="*{questionNumber}" type="number" min="1" id="question-number" class="col-sm-10">
            <div class="invalid-feedback">Please enter a number greater than 0.</div>
        </div>

        <div class="row mb-3">
            <label class="col-sm-2 col-form-label" th:for="*{questionText}">Question text</label>
            <input th:field="*{questionText}" type="text" id="question-text" class="col-sm-10" required>
            <div class="invalid-feedback">Please enter the question text.</div>
        </div>

        <button type="submit" value="Save" class="btn btn-primary">Submit</button>
    </form>
</div>

</body>
</html>