<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/head :: head"></div>

<body>
<script src="/js/question-details.js"></script>
<div th:replace="fragments/navigation :: nav"></div>
<main>
    <section class="container mt-4">
        <h1>Question Details</h1>

        <table class="table">
            <tr>
                <th>Question Id</th>
                <td th:text="${question.questionId}"></td>
            </tr>
            <tr>
                <th>Quiz Id</th>
                <td th:text="${question.quizId}"></td>
            </tr>
            <tr>
                <th>Question Number</th>
                <td th:text="${question.questionNumber}"></td>
            </tr>
            <tr>
                <th>Question Text</th>
                <td th:text="${question.questionText}"></td>
            </tr>
        </table>
    </section>
    <section class="container mt-5">
        <h2>Answers</h2>
        <a class="btn btn-primary mb-3 answer-info" th:href="@{|/questions/${question.questionId}/answers/add|}">+ Add Answer</a>
        <table class="table table-light align-middle">
            <tr th:each="answer:${answers}">
                <td class="answer-info" th:text="${answer.answerId}"></td>
                <td class="answer-info" th:text="${answer.answerText}"></td>
                <td class="answer-info" th:if="${answer.isCorrect} == false" th:href="@{|/answers/${answer.isCorrect}|}">incorrect</td>
                <td class="answer-info" th:if="${answer.isCorrect} == true" th:href="@{|/answers/${answer.isCorrect}|}">correct</td>
                <td class="answer-info" id="edit-delete-btn">
                    <a th:href="@{|/answers/${answer.answerId}/edit|}" class="btn btn-primary">Edit</a>
                    <a class="btn btn-danger" id="delete-btn" th:href="@{|/answers/${answer.answerId}/delete|}">Delete</a>
                </td>
            </tr>
        </table>
    </section>
</main>
</body>
</html>