<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/head :: head"></div>

<body>
<script src="/js/answer-add.js"></script>
<div th:replace="fragments/navigation :: nav"></div>

<div class="container mt-4">
    <div>
        <h1 th:if="${action} =='add'">Add Answer</h1>
        <h1 th:if="${action} =='edit'">Edit Answer</h1>
    </div>
    <form id="add-answer" method="post" th:object="${answer}" novalidate th:class="${isInvalid} ? 'was-validated' : ''">

        <div class="row mb-3">
            <label class="col-sm-2 col-form-label" th:for="*{questionId}">Question</label>
            <input type="number" class="hide" name="question-id" th:id="question-id" th:value="${selectedQuestionId}">
            <p th:text="${questionText}" class="col-sm-10"></p>
        </div>

        <div class="row mb-3">
            <label class="col-sm-2 col-form-label" th:for="answer-text">Answer</label>
            <input th:field="*{answerText}" type="text" id="answer-text" class="col-sm-10" required>
            <div class="invalid-feedback">Required field. Please input an answer.</div>
        </div>

        <div class="row mb-3">
            <label class="col-sm-2 col-form-label" th:for="correct-checkbox">Correct Answer</label>
            <input th:field="*{correct}" type="checkbox" id="correct-checkbox" class="col-sm-10">
            <p class="hide col-sm-10" id="checkbox-message" style="color: red">"Checkbox disabled because a correct answer already exists. Only 1 correct answer allowed per question."</p>
        </div>

        <button th:value="${answer.questionId}" type="submit" value="Save" class="btn btn-primary" id="submit-btn">Submit</button>
    </form>
</div>

</body>
</html>