<div class="card border-info take-quiz hide" id="score-container">
    <div class="card-header">
        <h2>Your Final Score:</h2>
    </div>
    <div class="card-body container-score" style="display:flex; justify-content: space-around;">
        <div style="display:flex; align-items:center">
            <img src="https://cdn-icons-png.flaticon.com/512/16797/16797291.png" style="max-width: 150px">
        </div>
        <div>
            <h1 class="card-title" id="score" style="font-size: 10rem; margin-top: 25px"></h1>
        </div>
    </div>
</div>
