<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/head :: head"></div>

<body>
<script src="/js/quiz-add.js"></script>
<div th:replace="fragments/navigation :: nav"></div>

<div class="container mt-4">
    <div>
        <h1 th:if="${action} =='add'">Add Quiz</h1>
        <h1 th:if="${action} =='edit'">Edit Quiz</h1>
    </div>
    <form id="add-quiz" method="post" th:object="${quiz}" novalidate th:class="${isInvalid} ? 'was-validated' : ''">
        <div class="form-group">
            <label th:for="*{title}">Quiz Title</label>
            <input th:field="*{title}" type="text" id="title" required>
            <div class="invalid-feedback">Please enter a quiz title.</div>
        </div>

        <div class="form-check">
            <input class="form-check-input" th:checked="*{live}" type="checkbox" th:field="*{live}">
            <label class="form-check-label" th:for="*{live}">Make quiz live?</label>
        </div>

        <button type="submit" value="Save">Submit</button>
    </form>
</div>

</body>
</html>