<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/head :: head"></div>

<body>
<script src="/js/quiz.js"></script>
<div th:replace="fragments/navigation :: nav"></div>

<div class="container mt-4">
    <p th:text="${quiz.title}"></p>
    <button id="start" th:value="${quiz.quizId}">Start Quiz</button>

    <div id="quiz-container">
        <!-- Questions and answers will be displayed here -->
    </div>
    <div th:replace="/quiz/fragments/score :: div">
        <!-- Final score will be displayed here -->
    </div>
</div>

</body>
</html>