<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/head :: head"></div>

<body>

<div th:replace="fragments/navigation :: nav"></div>

<div><h1>Quiz Management</h1></div>

<div><a href="/quiz/add"><button>Add Quiz</button></a></div>

<div class="container mt-4">
    <div class="card mb-2" th:each="quiz:${quizzes}">
        <a th:href="@{|/quiz/${quiz.quizId}|}">
            <div class="card-header" th:text="${quiz.title}"></div>
        </a>
        <a th:href="@{|/quiz/${quiz.quizId}/edit|}" class="btn btn-secondary">Edit</a>
        <a th:href="@{|/quiz/${quiz.quizId}/delete|}" class="btn btn-warning">Delete</a>
    </div>
</div>

</body>
</html>