<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/head :: head"></div>

<body>

<div th:replace="fragments/navigation :: nav"></div>
    <div class="page-header container">
        <h1 style="font-size: 5rem">Quizzes</h1>
    </div>
<div class="container mt-5" style="display:flex">
    <div>
        <img src="/images/quiz-img.png" style="filter: contrast(1.25);">
    </div>
    <div class="container mt-4 container-card">
        <div class="card mb-3 quiz-card"  th:each="quiz:${quizzes}">
            <a th:href="@{|/quizzes/${quiz.quizId}|}">
                <h4 class="card-title" th:text="${quiz.title}"></h4>
            </a>
        </div>
    </div>
</div>

</body>
</html>